# Base de datos
DATABASE_URL=mysql+pymysql://usuario:password@host/nombre_db

# Flask
SECRET_KEY=

# reCAPTCHA v2
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SCORE_THRESHOLD=0.5
SIMULATE_RECAPTCHA=True

# Email
EMAIL_SIMULATION=True
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Mapas
GEOCODING_API_KEY=
GRAPHHOPPER_API_KEY=
ORS_API_KEY=
NOMINATIM_USER_AGENT=rutas_optimas_app_v1